@import "./components/VerticalTimeline/VerticalTimeline.css";
@import "./components/VerticalTimeline/VerticalTimelineElement.css";
@import "./components/OverlayedMenu/OverlayedMenu.css";

body {
  background-color: #f9f8f8;
}

.github-corner svg {
  z-index: 1000;
}
.vertical-timeline-element-content {
  color: black;
  word-wrap: break-word;
}
.vertical-timeline-element--work .vertical-timeline-element-content {
  border-top: 3px solid #2196f3;
}
.vertical-timeline-element--education .vertical-timeline-element-content {
  border-top: 3px solid #e91e63;
}